.reveal pre code {
    max-height: 1000px;
    background: white;
}

.reveal pre code .hljs-attr {
    color: darkblue;
}

.reveal pre code.language-bash {
    color: darkblue;
}

.reveal pre code.bash {
    color:darkblue;
}
